{% for key, value in minecraft_vm_server.runtime_env.items() %}
{{ key }}={{ value }}
{% endfor %}
{% if minecraft_vm_server.runtime_env.MOD_PLATFORM | default('') == 'AUTO_CURSEFORGE' and minecraft_vm_server.runtime_env.NEOFORGE_VERSION is defined %}
CF_MOD_LOADER_VERSION={{ minecraft_vm_server.runtime_env.NEOFORGE_VERSION }}
{% endif %}
CF_API_KEY={{ minecraft_vm_curseforge_api_key }}
RCON_PASSWORD={{ minecraft_vm_rcon_password }}
RCON_PORT={{ minecraft_vm_rcon_port }}
