[Unit]
Description=Dockerized Minecraft server
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
TimeoutStartSec=0
TimeoutStopSec=90
EnvironmentFile={{ minecraft_vm_active_runtime_link }}
ExecStartPre=-/usr/bin/docker rm -f ${CONTAINER_NAME}
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStart=/usr/bin/docker run --name ${CONTAINER_NAME} --rm -p ${PORT}:25565 -v ${DATA_DIR}:/data -v ${BACKUP_DIR}:/backups --env-file {{ minecraft_vm_active_env_link }} ${IMAGE}
ExecStop=-/usr/bin/docker stop -t 60 ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
