SERVER_NAME={{ minecraft_vm_server_name }}
START_MODE={{ minecraft_vm_server.start_mode | default('bootstrap') }}
IMAGE={{ minecraft_vm_server.image | default(minecraft_vm_image_default) }}
DATA_DIR={{ minecraft_vm_server.data_dir }}
BACKUP_DIR={{ minecraft_vm_server.backup_dir }}
CONTAINER_NAME={{ minecraft_vm_container_name }}
PORT={{ minecraft_vm_port }}
