[Unit]
Description=Dockerized Minecraft server
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
TimeoutStartSec=0
TimeoutStopSec=90
EnvironmentFile={{ minecraft_vm_active_runtime_link }}
ExecStartPre=-/usr/bin/docker rm -f ${CONTAINER_NAME}
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStart={{ minecraft_vm_launcher_script_path }}
ExecStop=-/usr/bin/docker stop -t 60 ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
