[Unit]
Description=Dockerized Minecraft server
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
TimeoutStartSec=0
TimeoutStopSec=90
ExecStartPre=-/usr/bin/docker rm -f {{ minecraft_vm_container_name }}
ExecStartPre=/usr/bin/docker pull {{ minecraft_vm_image }}
ExecStart=/usr/bin/docker run --name {{ minecraft_vm_container_name }} --rm -p {{ minecraft_vm_port }}:25565 -v {{ minecraft_vm_data_dir }}:/data -v {{ minecraft_vm_backup_dir }}:/backups --env-file /etc/minecraft/minecraft.env {{ minecraft_vm_image }}
ExecStop=/usr/bin/docker stop -t 60 {{ minecraft_vm_container_name }}

[Install]
WantedBy=multi-user.target
